<body class="form-page-body">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Form content box start -->
                <div class="form-content-box">
                    <!-- details -->
                    <div class="details">
                        <!-- Logo-->
                        <a href="index.html">
                            <img src="assets/img/black-logo.png" class="cm-logo" alt="black-logo">
                        </a>
                        <!-- Name -->
                        <h3>Regístrate ahora</h3>
                        <!-- Divider -->
                        <!-- <div class="divider">
                            <span class="or-text"></span>
                        </div> -->
                        <!-- Form start-->
                        <form action="index.html">
                            <div class="form-group">
                                <input type="text" name="fullname" class="input-text" placeholder="Nombre Completo">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="input-text" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" class="input-text" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input type="password" name="confirm_Password" class="input-text" placeholder="Repetir Password">
                            </div>



                            <div class="checkbox mb-5">
                                <div class="ez-checkbox pull-left">
                                    <label>
                                        <input type="checkbox" class="ez-hide">
                                        Estoy de acuerdo con los  <a href="#"><b>Términos</b></a>
                                    </label>
                                </div>
                                <div class="clearfix"></div>
                            </div>



                            <div class="form-group">
                                <button type="submit" class="button-md button-theme btn-block">Crear cuenta</button>
                            </div>

                        </form>
                        <!-- Form end-->
                    </div>
                    <!-- Footer -->
                    <div class="footer">
                        <span>
                            Ya dispones de una cuenta? <a href="login.html"> Iniciar Sesión</a>
                        </span>
                    </div>
                </div>
                <!-- Form content box end -->
            </div>
        </div>
    </div>

</body>